In [2]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [3]:
# Call the function
say_hello()

Hello!

In [4]:
# Define the function "say_something" & add a parameter {inside the"()} so it prints whatever
# ...whatever is passed as the variable when called.

def say_something(something):
    print(something)

In [5]:
# Call the function
say_something("Hello World!")

Hello World!

In [7]:
# We can also pass a variable inside the function and have that variable printed to the output
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [15]:
# THe Pandas "map()" Function
# The map() function is used for substituting each value in a Series with another value.

# A list of my grades.
my_grades = ['B', 'C', 'B', 'D']

In [16]:
#Next, we'll import Pandas and convert the list to a Series.
import pandas as pd

# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [19]:
# Using the map() function we can change each string value in this Series to 
# ...another value using the following format:

# 'map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)'

#Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [22]:
#THE PYTHON "format()"" FUNCTION 4.7.8
# SYNTAX... : "{value:format specification}".format(value)

#Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.1f}".format(grade))
    
# ALTERNATIVE FOR NO DECIMAP PLACES: Change "1f" to "0f":
## for grade in my_grades:
    ## print("{:.1f}".format(grade))

92.3
84.6
86.8
98.3

In [23]:
# CHAINING FUNCTIONS: "map()" & "format()"

# a. Convert the numerical gradesd to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [25]:
# b. format the grades to the nearest whole number percent
my_grades.map("{:.0f}" .format)

0    92
1    85
2    87
3    78
dtype: object